/* Login Page Container */
.login-main {
  min-height: 100vh;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

/* Login Form */
.bordered-form {
  width: 420px;
  background: var(--color-on-secondary);
  color: var(--color-on-primary);
  border: 2px solid var(--color-on-background);
  padding: 2em 2em;
  padding-top: 1em;
  border-radius: 2em;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.form-text-input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  font-size: 16px;
  color: var(--color-on-primary);
  padding: 0 16px;
  margin: 15px 0;
}

.form-text-input::placeholder {
  color: var(--color-on-primary);
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 1em;
}

.password-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -10px 0 20px;
  color: var(--color-on-primary);
}

input:not(.show-password) {
  height: 2em;
}

a, 
a.fake-link,
a.fake-link:visited {
  display: block;
  text-align: right;
  color: var(--color-on-primary);
  text-decoration: none;
}

a:hover, 
a.fake-link:hover {
  text-decoration: underline;
}

.form-button {
  display: block;
  width: 100%;
  height: 45px;
  background: var(--color-on-primary);
  color: var(--color-on-secondary);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.circle-image {
  border-radius: 50%;
}

.center-image-container {
  text-align: center;
}

.center-text {
  display: block;
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
}

.left-align-text {
  display: block;
  text-align: start;
}

.center-text p,
.left-align-text p,
.center-text a,
.left-align-text a {
  display: inline;
}

.fake-link {
  color: var(--color-on-primary);
  text-decoration: underline;
  cursor: pointer;
}

#login-page {
  display: block;
}

#registration-page,
#verification-page {
  display: none;
}
