/* Phone view media */

@media screen and (max-width: 600px) {
  /****** Nav *******/
  
  #menu-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  #menu-container ul {
    display: none;
    flex-direction: column;
    position: absolute;
    /* top: 60px;  */
    left: 0;
    /* background-color: white; */
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    margin: 0;
  }
  
  #menu-container.open ul {
    display: flex;
    padding: 0;
  }
  
  #menu-container li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-right: 0;
  }
  
  #menu-container li:last-child {
    border-bottom: none;
  }
  
  #menu-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  #menu-container .material-icons {
    margin-right: 10px;
  }
  
  #menu-list {
    padding: 0;
  }



/****** login.html *******/
  #login-page {
    display: flex;
    height: 100vh;
  }

  #login {
    justify-self: center;
    transform: none;
  }
}